@CHARSET "ISO-8859-1";

.badInput {
    border:2px solid #FF0000;
}

.formWrapper {
    float:left;
    width:390px;
}

.formItemLabel {
    float:left;
    width:190px;
}

.formItemInput {
    float:left;
}

.formItemSubmit {
    margin-left:145px;
}

.formItemDisabled {
    background-color:#E0E0E0;
    color:#343434;
}

.formItemBanInput {
    width:50px;
}

.banButton {
    margin-bottom:20px;
    background:#FF2222;
    text-shadow:none;
    color:#FFFFFF;
}

.unbanButton {
    margin-bottom:20px;
    background:#22FF22;
    text-shadow:none;
}

.formErrorsWrapper {
    float:left;
    width:280px;
}

.formBottomBorder {
    border-bottom:1px solid #FFFFFF;
    padding-bottom:15px;
    margin-bottom:15px;
}

.adminError {
	float:left;
    width:740px;
    padding:10px;
    margin-top:10px;
    border-radius:7px;
    background-color:#D72424;
}

.noAdminError {
	float:left;
    width:740px;
    padding:10px;
    margin-top:10px;
    border-radius:7px;
    background-color:#23AF36;
}