html, body {
	background:#000000 url('../images/steelgamers_logo_background.png') no-repeat center center;
	background-attachment:fixed;
	color:#B9B9B9;
	height:100%;
	width:100%;
	text-align:center;
	margin:0px;
	font-size:18px;
	font-family: 'Bree Serif', serif;
}

a {
    color:#23D7EB;
}

h1 {
	font-family: 'Droid Serif', serif;
}

input {
	width:200px;
	padding:1px;
	border:2px inset;
}

select {
	width:206px;
	padding:1px;
    border:2px inset;
}

.centralDiv {
	height:100%;
	width:100%;
}

.topContent {
	height:5%;
	width:100%;
	float:left;
    font-size:24px;
}

.mediumContent {
	height:90%;
	width:100%;
	float:left;
}

.bottomContent {
	height:5%;
	width:100%;
	float:left;
	font-size:24px;
}

img.mainLogo {
	height:80%;
	border-radius:50%;
	opacity:0.5;
	margin-top:40px;
}

img.mainLogo:hover {
	opacity:1;
	background-color:#020202;
	cursor:pointer;
}

.bottomRoute {
	height:100%;
	padding-top:5px;
	cursor:pointer;
	opacity:0.7;
	border-top:1px solid #B9B9B9;
}

.bottomRoute:hover {
	opacity:1;
}

.topRoute {
	height:100%;
    padding-top:5px;
    cursor:pointer;
    opacity:0.7;
    border-bottom:1px solid #B9B9B9;
}

.topRoute:hover {
	opacity:1;
}

.formContainerLeft {
    float:left;
    width:20%;
    margin-left:30%;
    text-align:left;
}

.formContainerRight {
    float:left;
    width:20%;
    margin-right:30%;
    text-align:right;
}

.applicationItem {
	height:30px;
	padding-bottom:10px;
}

.applicationItemBig {
	padding:10px 0px 0px 0px;
}

.textbox {
	width:56.5%;
	height:125px;
}

.button {
    cursor:pointer;
    margin:0;
    font-size:16px;
    padding:4px 15px 4px 15px;
    background:#f8f8f8;
    background:-webkit-gradient(linear, center bottom, center top, from(#cccccc), to(#ffffff));
    background:-moz-linear-gradient(top, #ffffff, #cccccc);
    -pie-background:linear-gradient(top, #ffffff, #cccccc);
    background:linear-gradient(top, #ffffff, #cccccc);
    color:#02475A;
    text-shadow:0 1px 0 #fff;
    border:1px solid #999;
    border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    box-shadow:0px 0px 2px #999;
    -moz-box-shadow:0px 0px 2px #999;
    -webkit-box-shadow:0px 0px 2px #999;
    white-space:nowrap;
    margin-top:5px;
    font-weight:bold;
    text-decoration:none;
}

.button:hover {
   color:#111;
   border:1px solid #666;
}

.button:focus {
   background:#eee;
}